.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__title {
        display: flex;
        justify-content: center;
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 239px;
        &-subtitle {
            margin-top: 38px;
            height: 16px;
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
        }
        &-descr {
            margin-top: 26px;
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            a {
                color: #ff0000;
                text-decoration: underline;
            }
                
        }
        &-icon {
            &-animated {
                animation-name: heartbeat;
                animation-duration: 1.5s;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
                &:hover {
                    animation-play-state: paused;
                }
                
            }
        }
    }


}