.carousel_slider {
    padding: 81px 0 82px 0;

    .slider {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;

        .prev_button {
            background-image: url('../icons/left.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-color: #ffff;
            border: none;
            width: 31px;
            height: 50px;
            margin-right: 66px;
            
        }
        .next_button {
            background-image: url('../icons/right.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-color: #ffff;
            border: none;
            width: 31px;
            height: 50px;
            margin-left: 66px;
        }
    }
    
    .slide {
        img {
            opacity: 0;
            visibility: hidden;
            transition: 1s opacity;
            position: absolute;
            width: 300px;
            height: 280px;
          }
    }
    
    .active {
        img {
            opacity: 1;
            visibility: visible;
            position: relative;
          }

    }

}



